<!doctype html>
<html>
<head>
    <% include partials/common_title.ejs %>
    <% include partials/common_css.ejs %>
    <style>
        body {
          padding-top:80px; word-wrap:break-word;
        }

        #canvas-token {
          width: 100%;
        }

        .hidden {
          display: none;
        }

        .displayed {
          display: block;
        }

        #canvas-success {
          color: rgb(127, 210, 72);
        }

        #canvas-error {
          color: rgb(171, 80, 80);
        }
    </style>

    <script src="./profile.js" charset="utf-8"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                  <% if (user.fb.accessToken) { %>
                    <p>
                        <strong>id</strong>: <%= user.fb.id %><br>
                        <strong>accessToken</strong>: <%= user.fb.accessToken %><br>
                        <strong>email</strong>: <%= user.fb.email %><br>
                        <strong>name</strong>: <%= user.fb.firstName %> <%= user.fb.lastName %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>

        <!-- CANVAS INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary canvas"><span class="fa fa-graduation-cap"></span> Canvas</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <div id="canvas-alert-container">
                  <h3 class="hidden success" id="canvas-success">Successfully changed Canvas token!</h3>
                  <h3 class="hidden error" id="canvas-error">Ooops...error changing your Canvas token</h3>
                </div>
                    <p>
                        <strong>token</strong>:
                          <input type="text"
                            <% if (user.canvas.token) { %>
                                readonly="true"
                                value=<%= user.canvas.token %>
                            <% } %>
                            name="canvas-token" id="canvas-token">
                        <br>
                    </p>

                <a id="change-canvas-token" class="btn btn-primary">Change Token</a>
                <span id="api-url" hidden="true"><%= API_URL%></span>
                <br>
                <p>
                  Click "Change Token" once to enable input, then again to submit
                    your new token
                </p>

            </div>
        </div>
    </div>

    <script type="text/javascript">
      console.log(window);

    </script>
